.wrapper {
}

.account-item {
    display: flex;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
}

.username {
    font-size: 1.2rem;
    color: #161823bf;
}
