.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.body {
}

.nickname {
}

.check {
}

.username {
}

.analytics {
}

.value {
}

.babel {
}
