.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
}

.nickname {
}

.check {
}

.username {
}

.analytics {
}

.value {
}

.babel {
}
