.wrapper {
    display: flex;
}

.avatart {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
}

.text {
}

.nickname {
}

.name {
}

.description {
}

.music {
}

.video-ửapper {
}

.video {
}
